
*{
    padding: 0;
    margin:0;
    box-sizing: border-box;
    text-align: center;
}
.contaner{
    background-image: url(../images/pexe.jpg);
    width: 100%;
    background-size: cover;
    height: 100vh;
}
.contaner h1{
    font-size: 40px;
    font-weight: 700;
    color: rgba(240, 248, 255, 0.952);
    padding-top: 10px;
}
.parent{
    width: 60%;
    margin: auto;
    padding-top: 50px;
    display: grid;
    grid-template-columns: 1fr ;
    grid-template-rows: 1fr ;
    gap: 10px;
}
#items{
    width: 220px;
    height: 280px;
    border-radius: 10px;
    background-color: rgba(255, 252, 249, 0.79);
    font-size: 25px;
    color: #141414;
    font-weight: 600;
    margin-left: 50px;
}
#btn{
    width: 160px;
    height: 40px;
    color: #fff;
    border-radius: 5px;
    margin: auto;
    font-size: 20px;
    font-weight: 800;
    background-color: rgba(10, 10, 151, 0.874);
}
#Input1{
    width: 300px;
    font-size: 25px;
    color: #141414;
    font-weight: 600;
    margin: auto;
}
/* .parent{
    width: 80%;
    height: 75%;
    margin: auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 10px;
}
.h1{
    color: chocolate;
}

.line{
    height: 3px;
    width: 180px;
    margin: auto;
    background-color: rgb(15, 15, 15);
    margin-top: 10px;
    margin-bottom: 20px;
    border: 3px solid black;
    border-radius: 50%;
}
#mydiv{
    width: 250px;
    height: 80px;
    background-color: rgba(7, 215, 215, 0.845);
    margin: auto;
}
.js{
    width: 60%;
    margin: auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    gap: 30px;
}











 */
